<config>
    <RdpPort>3389</RdpPort>
    <AwlPort>3390</AwlPort>
    <LocalPrinterName></LocalPrinterName>
    <RemminaConfigPath>/home/sergei/.remmina/</RemminaConfigPath>
    <localPdfFolder>/home/sergei/PDFFiles/</localPdfFolder>
    <autoPrintFiles>1</autoPrintFiles>
    <deleteAfterPrinted>1</deleteAfterPrinted>
</config>